#myreports{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#top-section-myreports{
    width: 100vw;
    height: 55vh;
    /* background-image: linear-gradient(rgba(155, 166, 215, 0.509),rgba(138, 147, 187, 0.578)),url('/src/assets/medreptop.jpeg'); */
     background-image: linear-gradient(rgba(98, 97, 97, 0.509),rgba(99, 98, 98, 0.527)),url('/src/assets/medreptop.jpeg'); 
   
    
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size:100vw 55vh;  
    
    color: rgba(255, 255, 255, 0.934);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#top-section-myreports h1{

    font-size: 45px;
    margin-bottom: 30px;
}

#top-section-myreports p{

    font-size: 22px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    margin-bottom: 20px;
}


#myreportslist{

    width: 100%;
    /* height: 45vh; */
    margin-top: 4%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


#myreportslist table{

    width: 90%;
    margin: auto;
    /* margin-top: 2%; */
    margin-bottom: 4%;
    border : 0.5px solid grey;
    box-shadow: 1px 2.5px 19px 7px #888888;
}

#myreportslist table tbody tr td button{

    height: auto;
    width: auto;
    margin: auto;
}



.to_align_text_in_center{

    text-align: center;
}



