/* #examine{

   
    height: 80%;
    width: 100%;
    display: flex;
}

#examine_sidebar{

    width: 18%;
    height: 90vh;
    background-color: rgba(199, 194, 194, 0.932);
    position: fixed;
    margin-bottom: 2%;
} */


#examine{

    display: flex;
    flex-direction: column;
}

#examine_backbutton{

    margin-left: 7%;
    margin-top: 2%;
}

#examine_backbutton button{

    color: white;
}


#examine_backbutton button:hover{

     opacity: 0.9;
}

.upper_examine_nav{

   font-size: 20px;
  
}





